use_sops() {
    # Derived from: https://github.com/direnv/direnv/wiki/Sops
    local path=${1:-$PWD/.sops.yaml}
    eval "$(sops -d --output-type dotenv "$path" | direnv dotenv bash /dev/stdin)"
    watch_file "$path"
}

use_sops secrets.[env|yaml]
